---
apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: developer
  name: developer-deploy
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: developer-app
  replicas: 1
  template:
    metadata:
      labels:
        app.kubernetes.io/name: developer-app
    spec:
      containers:
      - image: Supipi/DeveloperAPI:main
        imagePullPolicy: Always
        name: developer-app
        ports:
        - containerPort: 8088
---
apiVersion: v1
kind: Service
metadata:
  namespace: developer
  name: developer-service
spec:
  ports:
    - port: 8088
      targetPort: 8088
      protocol: TCP
  type: NodePort
  selector:
    app.kubernetes.io/name: developer-app
  type: LoadBalancer
status:
  loadBalancer: {}